/************* TABS ***********/
@media only screen and (max-width: 1920px) {

  .responsivecalendar{
    display: none;
  }

  .responsivephone{
    display: none;
  }

.wrapper1{
    top: 5%;
    right: 10%;
    z-index: 1;
    position: fixed;
    transform: translate(-50%, -50%);
  }
  
 .wrapper1 .link_wrapper{
    position: relative;
  }
  
  .wrapper1 a{
    display: block;
    width: 250px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-decoration: none;
    background: #333;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px ²lid #333;
    transition: all .35s;
  }
  
  .wrapper1 .icon{
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    position: absolute;
    transform: rotate(45deg);
    right: 0;
    top: 0;
    z-index: -1;
    transition: all .35s;
  }
  
 .wrapper1 .icon svg{
    width: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    transform: rotate(-45deg);
    fill: #808080;
    transition: all .35s;
  }
  
  .wrapper1 a:hover{
    width: 200px;
    border: 3px solid #808080;
    background: transparent;
    color: #808080;
  }
  
  .wrapper1 a:hover + .icon{
    border: 3px solid #808080;
    right: -25%;
  }
  .wrapper1 i{
    color: #404040;
    transform: rotate(-45deg);
    position: absolute;
   top: 30%;
   left: 35%;
  }




  /************* TABS 2 ***********/


.wrapper2{
    top: 5%;
    right: 30%;
    z-index: 1;
    position: fixed;
    transform: translate(-50%, -50%);
  }
  
 .wrapper2 .link_wrapper{
    position: relative;
  }
  
  .wrapper2 a{
    display: block;
    width: 250px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-decoration: none;
    background: #333;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid #333;
    transition: all .35s;
  }
  
  .wrapper2 .icon{
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    position: absolute;
    transform: rotate(45deg);
    right: 0;
    top: 0;
    z-index: -1;
    transition: all .35s;
  }
  
 .wrapper2 .icon svg{
    width: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    transform: rotate(-45deg);
    fill: #808080;
    transition: all .35s;
  }
  
  .wrapper2 a:hover{
    width: 200px;
    border: 3px solid #808080;
    background: transparent;
    color: #808080;
  }
  
  .wrapper2 a:hover + .icon{
    border: 3px solid #808080;
    right: -25%;
  }
  .wrapper2 i{
    color: #404040;
    transform: rotate(-45deg);
    position: absolute;
   top: 30%;
   left: 35%;
  }
}


  @media only screen and (max-width: 509px) {

    .wrapper1{
      position: absolute;
      left: 30vh;
      display: none;
    }

    .wrapper2{
      position: absolute;
      left: 26.69vh;
      top: 10vh;
      display: none;
    }
  

    .responsivecalendar {
      z-index: 1;
      position: absolute;
      right: 1vh;
      box-shadow: 0px 10px 14px -7px #276873;
      background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
      background-color:#599bb3;
      border-radius:8px;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Arial;
      font-size:20px;
      font-weight:bold;
      padding:13px 32px;
      text-decoration:none;
      text-shadow:0px 1px 0px #3d768a;
    }
    .responsivecalendar:hover {
      background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
      background-color:#408c99;
    }
   
    

    .responsivephone{
      z-index: 1;
      right: 1vh;
      top: 9vh;
      position: absolute;
      box-shadow: 0px 10px 14px -7px #276873;
      background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
      background-color:#599bb3;
      border-radius:8px;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Arial;
      font-size:20px;
      font-weight:bold;
      padding:13px 31px;
      text-decoration:none;
      text-shadow:0px 1px 0px #3d768a;
    }
    .responsivephone:hover {
      background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
      background-color:#408c99;
    }
    
    
            
  }