/** SOCIAL MEDIAS TAB **/

@media only screen and (max-width: 1920px) {


.socials{
  z-index: 2;
    background-color: #2874E2;
    padding: px;
    border-radius :25px;
    top: 50%;
    position: fixed;
    z-index: 2;
    text-align: center;
    left: 2%;
    display: flex;
    flex-direction: column;
    margin-right: 2%;
    background : transparent;
    font-size: 20px;
  }

  #facebook{
    padding-bottom: 20px;
    color: #808080;
    transition: color 0.8s;
  }

  #facebook:hover{
    color: #4267B2;
  }

  #twitter{
    padding-bottom: 20px;
    color: #808080;
    transition: color 0.8s;
  }

  #twitter:hover{
    color: #1DA1F2;
  }

  #insta{
    padding-bottom: 20px;
    color: #808080;
    transition: color 0.8s;
  }

  #insta:hover{
    color: #8a3ab9;
  }


  #youtube{
    padding-bottom: 20px;
    color: #808080;
    transition: color 0.8s;
  }

  #youtube:hover{
    color: #FF0000;
  }




/**************************************************************/

  :root {
    --bg: #dcdde1;     
    --color-icon: #535c68;  
    --social-icon1: #e4405f;
    --social-icon2: #3b5999;
    --social-icon3: #e4405f;
    --social-icon5: #0077B5;   
  }
  
 
  
  section {

    width: 5%;
    left: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;  
    background: var(--bg);
    z-index: 1;
    flex-direction: column;
    background: transparent;
  }
  
  .icon-list {
    width: 100%;
    max-width: 50rem;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  
  .icon-item {
    list-style: none;
  }
  
  .icon-link {  
    display: inline-flex;
    font-size: 3rem;  
    text-decoration: none;  
    color: var(--color-icon);
    width: 6rem;
    height: 6rem;   
    transition: .5s linear;
    position: relative;
    z-index: 1;
    margin: auto
  }
  
  .icon-link:hover {
    color: #fff;
  }
  
  .icon-link i {
    margin: auto; 
    font-size: 1.5rem;   
  }
  
  .icon-link::before {  
    
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 6rem;
    height: 6rem;
    background: #000;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0);
    transition: 0.3s cubic-bezier(.95, .32, .37, 1.21);
  }
    
  .icon-link:hover::before {  
    transform: scale(1);
  }
  
  .icon-item:nth-child(1) a:hover:before { 
    background: var(--social-icon1); 
  }
  
  .icon-item:nth-child(2) a:hover:before { 
    background: var(--social-icon2); 
  }
  
  .icon-item:nth-child(3) a:hover:before { 
    background: var(--social-icon3); 
  }
  
 
  
  .icon-item:nth-child(5) a:hover:before { 
    background: var(--social-icon5); 
  }
}
  /***************************************/
  /**************************************/
  /********* RESPONSIVE MOBILE ********/

  @media only screen and (max-width: 509px) {
    
    .socials{
      top: 40vh;
      background-color: #2874E2;
      padding: px;
      border-radius :25px;
      position: absolute;
      z-index: 2;
      text-align: center;
      left: 2vh;
      display: flex;
      flex-direction: column;
      margin-right: 2%;
      background : transparent;
      font-size: 20px;
    }
  
    #facebook{
      padding-bottom: 20px;
      color: #33383b;
      transition: color 0.8s;
    }
  
    #facebook:hover{
      color: #4267B2;
    }
  
    #twitter{
      padding-bottom: 20px;
      color: #33383b;
      transition: color 0.8s;
    }
  
    #twitter:hover{
      color: #1DA1F2;
    }
  
    #insta{
      padding-bottom: 20px;
      color: #33383b;
      transition: color 0.8s;
    }
  
    #insta:hover{
      color: #8a3ab9;
    }
  
  
    #youtube{
      padding-bottom: 20px;
      color: #33383b;
      transition: color 0.8s;
    }
  
    #youtube:hover{
      color: #FF0000;
    }
  
    #tiktok{
      padding-bottom: 20px;
      color: #33383b;
      transition: color 0.8s;
    }
  
    #tiktok:hover{
      color: #36a3e7c7;
    }
  
  /**************************************************************/
  
    :root {
      --bg: #dcdde1;     
      --color-icon: #808080;  
      --social-icon1: #e4405f;
      --social-icon2: #3b5999;
      --social-icon3: #e4405f;
      --social-icon5: #0077B5;   
    }
    
   
    
    section {
      
      z-index: 1;
      width: 5%;
      left: 0;
      top: 0%;
      bottom: 0;
      position: sticky;
      display: flex;
      align-items: center;
      justify-content: center;  
      background: var(--bg);
      z-index: 1;
      flex-direction: column;
      background: transparent;
    }
    
    .icon-list {
      left: .05vh;
      top: 55vh;
      position: absolute;
      width: 100%;
      max-width: 50rem;
      padding: 0 1.5rem;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }
    
    .icon-item {
      list-style: none;
    }
    
    .icon-link {  
      display: inline-flex;
      font-size: 3rem;  
      text-decoration: none;  
      color: var(--color-icon);
      width: 3rem;
      height: 3rem;   
      transition: .5s linear;
      position: relative;
      z-index: 1;
      margin: auto
    }
    
    .icon-link:hover {
      color: #fff;
    }
    
    .icon-link i {
      margin: auto; 
      font-size: 1rem;   
    }
    
    .icon-link::before {  
      
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 3rem;
      height: 3rem;
      background: #000;
      border-radius: 50%;
      z-index: -1;
      transform: scale(0);
      transition: 0.3s cubic-bezier(.95, .32, .37, 1.21);
    }
      
    .icon-link:hover::before {  
      transform: scale(0.5);
    }
    
    .icon-item:nth-child(1) a:hover:before { 
      background: var(--social-icon1); 
    }
    
    .icon-item:nth-child(2) a:hover:before { 
      background: var(--social-icon2); 
    }
    
    .icon-item:nth-child(3) a:hover:before { 
      background: var(--social-icon3); 
    }
    
    
    
    .icon-item:nth-child(5) a:hover:before { 
      background: var(--social-icon5); 
    }
  }

 